<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>問11</key>
	<dict>
		<key>Poppin&apos;Partyのメンバーが通っている高校の名前は？</key>
		<string></string>
		<key>花咲川女子学園高校</key>
		<string></string>
		<key>花咲川女子学園高等部</key>
		<string></string>
		<key>羽丘女子学園高校</key>
		<string></string>
		<key>羽丘女子学園高等部</key>
		<string></string>
	</dict>
	<key>問10</key>
	<dict>
		<key>Dr.、『山吹　沙綾』が手伝っている実家のパン屋の名前は？</key>
		<string></string>
		<key>山吹ベーカリー</key>
		<string></string>
		<key>ヤマブキベーカリー</key>
		<string></string>
		<key>やまぶきベーカリー</key>
		<string></string>
		<key>やまぶきべーかりー</key>
		<string></string>
	</dict>
	<key>問9</key>
	<dict>
		<key>Ba.、『牛込　りみ』の姉の名前は？</key>
		<string></string>
		<key>牛込　りこ</key>
		<string></string>
		<key>牛込　りり</key>
		<string></string>
		<key>牛込　まり</key>
		<string></string>
		<key>牛込　ゆり</key>
		<string></string>
	</dict>
	<key>問8</key>
	<dict>
		<key>Key.、『市ケ谷　有咲』は「質店〇〇堂」の孫娘。</key>
		<string></string>
		<key>質店「夜空堂」</key>
		<string></string>
		<key>質店「流星堂」</key>
		<string></string>
		<key>質店「戸山堂」</key>
		<string></string>
		<key>質店「市ケ谷堂」</key>
		<string></string>
	</dict>
	<key>問7</key>
	<dict>
		<key>Gt. &amp;Vo.、『戸山　香澄』が持っているギターの名前は？</key>
		<string></string>
		<key>ランダムスター</key>
		<string></string>
		<key>カラフルスター</key>
		<string></string>
		<key>ダブルレインボー</key>
		<string></string>
		<key>ホシノコドウ</key>
		<string></string>
	</dict>
	<key>問6</key>
	<dict>
		<key>Gt.、『花園　たえ』が飼っているウサギは何羽？</key>
		<string></string>
		<key>5羽</key>
		<string></string>
		<key>7羽</key>
		<string></string>
		<key>15羽</key>
		<string></string>
		<key>20羽</key>
		<string></string>
	</dict>
	<key>問5</key>
	<dict>
		<key>Gt.、『はなぞの　たえ』の名前を正しく書くと？</key>
		<string></string>
		<key>花園　多恵</key>
		<string></string>
		<key>華園　多恵</key>
		<string></string>
		<key>花園　たえ</key>
		<string></string>
		<key>華園　たえ</key>
		<string></string>
	</dict>
	<key>問4</key>
	<dict>
		<key>Ba.、『うしごめ　りみ』の名前を正しく書くと？</key>
		<string></string>
		<key>うしごめ　理美</key>
		<string></string>
		<key>牛込　李見</key>
		<string></string>
		<key>牛込　りみ</key>
		<string></string>
		<key>牛込　理美</key>
		<string></string>
	</dict>
	<key>問3</key>
	<dict>
		<key>Key.、『いちがや　ありさ』の名前を正しく書くと？</key>
		<string></string>
		<key>市ヶ谷　有咲</key>
		<string></string>
		<key>市ヶ谷　亜里沙</key>
		<string></string>
		<key>市ケ谷　亜利沙</key>
		<string></string>
		<key>市ケ谷　ありさ</key>
		<string></string>
	</dict>
	<key>問2</key>
	<dict>
		<key>Dr.、『やまぶき　さあや』の名前を正しく書くと？</key>
		<string></string>
		<key>山蕗　紗彩</key>
		<string></string>
		<key>山吹　紗彩</key>
		<string></string>
		<key>山伏　沙綾</key>
		<string></string>
		<key>山吹　沙綾</key>
		<string></string>
	</dict>
	<key>問1</key>
	<dict>
		<key>Gt. &amp;Vo.、『とやま　かすみ』の名前を正しく書くと？</key>
		<string></string>
		<key>富山　香澄</key>
		<string></string>
		<key>戸山　香澄</key>
		<string></string>
		<key>十山　香澄</key>
		<string></string>
		<key>藤山　香澄</key>
		<string></string>
	</dict>
</dict>
</plist>
